
body {
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--primary-color);
    scroll-behavior: smooth;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
